.button {
  display: block;
  text-align: center;
  width: 10vw;
  margin: auto;
  padding: 1rem 4rem;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s;
}
.button:hover {
  color: rgb(255, 255, 255);
}
