.board-container {
  height: 100vh;
}
.board {
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
.enemy-cards {
  pointer-events: none;
}
