.board-container {
  height: 100vh;
}
.board {
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
}
.enemy-cards {
  pointer-events: none;
}

.test{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    gap:40px;
}
.my-score{
    color: red;
}
.enemy-score{
    color: blue;
}