.cancel-button {
  position: fixed;
  bottom: 3vh;
  left: 2.6vw;
  width: 10vh;
  height: 10vh;
  padding: 10px;
  border-radius: 50%;
}

.sl-arrow-left-circle {
  color: #8dff90;
  width: 9vh;
  height: 9vh;
  transition: 0.5s;
  border-radius: 50%;
}
.sl-arrow-left-circle:hover {
  color: #ffffff;
}
