.enter-name-page {
  background-color: #2c2c2c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Avenir Next';
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.textbox:focus {
  width: 500px;
  outline: none;
}

.description {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
